.search {
  /* layout */
  display: flex;
  align-items: center;
  border-radius: 25px;
  justify-content: space-between;

  /* box */
  height: 38px;
  overflow: hidden;
  border: var(--Black) 2px solid;
}

.box {
  /* layout */
  padding-left: 22px;

  /* box */
  height: 38px;
  width: 290px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: white;

  /* text */
  font-size: 12px;
}

.icon {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* box */
  width: 100%;
  height: 100%;
  background-color: var(--Green);
}
