.search {
  display: flex;
  margin: 1.2em -0.8em;
  width: 100%;
}

.box {
  /* layout */
  flex-grow: 1;
  padding: 0.7em 1.3em;
  margin-left: 1em;

  /* box */
  background-color: white;
  border-radius: 50em;
  /* make a circle border */
  border: var(--Black) 1px solid;
  box-shadow: var(--Black) 2px 2px 0 0;
  height: 1.8em;

  /* text */
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* はみ出した文字は「…」で省略 */
  color: var(--Gray);
}

input[type="text"]:focus.box {
  border: var(--Red) 1px solid;
  box-shadow: var(--Red) 2px 2px 0 0;
  outline: 0;
}

.icon {
  position: relative;
  top: 0.75em;
  right: 2em;
  color: var(--Black) !important;
}
