.overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color は半透明の白 */
  background-color: rgba(255, 255, 255, 0.7);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  /* 奥行き */
  z-index: 3;

  /* box */
  width: 70%;
  height: 85%;
  padding: 1em;
  background: white;

  /* ボーダー */
  border-radius: 10px;
  border: 2px solid var(--Black);

  /* 縦につなげるようにする */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* text */
  font-size: 1.1em;
}

.close {
  /* 奥行き */
  z-index: 4;

  /* display: none; */
  color: white;

  /* 丸でくくる */
  border-radius: 50%;
  border: 2px solid var(--Black);
  width: 4em;
  height: 4em;

  /* positionを2emだけ下に下げる */
  position: relative;
  top: 2em;

  background-color: var(--Red);
}

.links {
  display: flex;
  flex-direction: column;

  /* 上にmargin */
  margin-top: 2em;
}

.link {
  font-size: 0.9em;
  /* layout */
  margin: 0.5em;
  display: flex;
  /*縦を揃える*/
  align-items: center;
}

.link svg {
  font-size: 2rem;
  /* box */
  margin-right: 1.1em;
}

.language {
  /* box */
  border-radius: 100px;
  border: none;
  height: 7%;
  width: 100%;
  background: var(--Green);
  color: white;
  margin: 2em 0;

  /* text */
  font-size: 0.9em;
}

.footer {
  /* text */
  font-size: 0.6em;
}
