.overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: -12%;
  left: -10%;
  width: 120%; /* カスの実装かもしれません。コードレビュー求む */
  height: 120%;
  /* background-color は半透明の白 */
  background-color: rgba(255, 255, 255, 0.7);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* transition */
  animation: scaling 100ms both;
}

.content {
  /* 奥行き */
  z-index: 10;

  /* box */
  width: 58%;
  height: 65%;
  padding: 1em;
  background: white;

  /* ボーダー */
  border-radius: 10px;
  border: 2px solid var(--Black);

  /* 縦につなげるようにする */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* text */
  font-size: 1.1em;
}

@keyframes scaling {
  /* 拡大する */
  0% {
    transform: scale(0.96);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
  }
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  flex-direction: column;

  /* 上にmargin */
  margin-top: 2em;
}

.links {
  display: flex;
  align-items: flex;
  gap: 25px;
  width: 100%;
}

.link {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* box */
  background-color: white;
  border-radius: 50px;
  border: var(--Black) 2px solid;
  height: 56px;
  width: 100%;
  box-sizing: border-box;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);
}

.link svg {
  display: flex;
  align-items: flex-start;
  margin: 0 30px;
}

.signin {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 10px;

  /* box */
  border-radius: 10px;
  border: var(--Black) 2px solid;
  height: 104px;
  width: 100%;
  box-sizing: border-box;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);

  background: url("/footprint.svg") no-repeat;
  background-position: 100% 50%;
  background-color: white;
}

.signin_text {
  /* 左寄せ */
  width: 50vw;
}

.signin_link {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  padding-bottom: 25px;
}

.signin_link_button {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box */
  background-color: var(--Yellow);
  border-radius: 50px;
  border: var(--Black) 2px solid;
  height: 32px;
  /* width: 100%; */
  box-sizing: border-box;
  padding: 0 15px;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);
}
