.title {
  font-size: 20px;
  font-weight: bold;
  margin: 35px 0;
}

.input {
  width: 100%;
  height: 40px;
  padding: 15px;
  border: 2.5px solid var(--Black);
  border-radius: 10rem;
  box-sizing: border-box;
  outline: none;
}

.form {
  width: 100%;
}

.label {
  font-size: 12px;
  font-weight: bold;
  margin-left: 16px;
}

.or {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
  margin: 40px 0;
}
.or::before,
.or::after {
  content: "";
  height: 1px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.25);
  flex-grow: 1;
}
.or::before {
  margin-right: 10px;
}
.or::after {
  margin-left: 10px;
}
