.searchbox {
  width: 100%;
  margin-bottom: 10px;
}

.cards {
  height: auto;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: var(--LightBrown);

  display: flex;
  align-items: center;
  justify-content: center;
}

.returnSearch {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box */
  background-color: var(--Yellow);
  border-radius: 10rem;
  border: var(--Black) 2px solid;
  height: 40px;
  width: 176px;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);
}

.returnHome {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box */
  background-color: #fff;
  border-radius: 10rem;
  border: var(--Black) 2px solid;
  height: 40px;
  width: 176px;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);
}

.spacer {
  height: 100px;
}

.buttonBundle {
  margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: column;

  margin: 16px;
  gap: 16px;
}

.emptyResults {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
}
