.tip {
  /* layout */
  padding: 0.5em 1.5em;

  /* box */
  background-color: var(--LightBrown);
  border-radius: 2rem;
  border: solid 1px black;
  width: fit-content;

  /* text */
  font-weight: bold;
}
