/*--- 全ページ共通のスタイル ---*/

/*----------------------------------------------------------------
CSS変数代入について
:rootで変数を定義
変数名の前に"--"は必須
var(--変数名)で使える
----------------------------------------------------------------*/
:root {
  --Red: #e95122;
  --Yellow: #f5b72e;
  --Green: #517e55;
  --Brown: #b29476;
  --LightBrown: #f1ece6;
  --Gray: #7e7e7e;
  --Black: #1c1c1c;

  --Font: "Noto Sans JP", sans-serif;
}

html {
  /* text */
  font-family: var(--Font);
  color: var(--Black);
  background-color: var(--LightBrown);
}

a {
  /* a href / Link の文字が変な色にならないようにする */
  text-decoration: none;
  color: var(--Black);
}

body {
  height: 100vh;
}

.style_lightbrown {
  /* layout */
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* transition */
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
.greenBack {
  padding: 1em 1.5em 3em 1.5em;
  background-color: var(--Green);
  color: white;
  border-radius: 0px 0px 18px 18px;
}
.greenBack svg {
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
