.mySwiper {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  background-color: var(--LightBrown);
  color: var(--Black);
  text-align: center;
  font-weight: bold;
}

.heading {
  /* text */
  font-family: Yu Gothic; /* フォントはglobal.cssで管理するはずでは？ */
  font-size: 1.4em;
  line-height: 180%;
}

.text_div {
  margin-top: 2.5em;
}

.title {
  font-size: 2.3em;
  margin: 0.5em;
}

.description {
  font-size: 0.8em;
}

.bottom {
  /* layout */
  width: 90%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 70%);
}

.skip {
  /* text */
  color: var(--Gray);
  font-size: 0.8em;
}

.icon {
  width: 80%;
}
