.frame {
  /* layout */
  padding: 5% 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: -1;

  /* box */
  width: 70%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 17px -12px rgba(217, 217, 217, 0.8);
}

.frame img {
  /* layout */
  position: relative;
  z-index: -3;
  overflow: hidden;

  /* box */
  width: 80%;
}

/* スマホの欠け部分 */
.frame .notch {
  /* layout */
  position: relative;
  left: 40%;
  top: 6px;
  z-index: -2;

  /* box */
  width: 20%;
  height: 11px;
  border-radius: 6px;
  background-color: #fff;
}
