.button {
  display: inline-flex;
  padding: 4px;
  align-items: flex-start;
  gap: 10px;
}

.button2 {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 3px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  background: #f5f5f5;
  color: #000;
}
