.box {
  /* layout */
  margin: 5%;
  padding: 1.4em 1.5em 0.5em 1.5em;

  /* box */
  width: 85%;
  border: solid 2px var(--Black);
  border-radius: 20px;
  box-shadow: none;

  background: url("/footprint.svg") no-repeat;
  background-position: 100% 50%;
  background-color: white;
}

.title {
  /* layout */
  margin-bottom: 0rem;

  /* underline */
  display: inline-block;
  background: linear-gradient(transparent 70%, var(--Yellow) 0%);
}

.text {
  /* layout */
  margin: 1em 0 1.4em 0;

  /* text */
  color: var(--Gray);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* はみ出した文字は「…」で省略 */
}
