.box {
  /* layout */
  margin: 5%;
  padding: 1.4em 1.5em 0.5em 1.5em;

  /* box */
  background-color: white;
  width: 84%;
  border: solid 2px var(--Black);
  border-radius: 20px;
  box-shadow: none;
}

.title {
  /* layout */
  margin-bottom: 0rem;

  /* text */
  color: var(--Black);
  font-weight: bold;
  font-size: 1.2em;

  /* underline */
  display: inline-block;
  background: linear-gradient(transparent 70%, var(--Yellow) 0%);
}

.text {
  /* layout */
  margin: 1em 0 1.4em 0;

  /* text */
  color: "var(--Gray)";
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* はみ出した文字は「…」で省略 */
}
