.button {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box */
  background-color: var(--Yellow);
  border-radius: 10rem;
  border: 2.5px solid var(--Black);
  box-shadow: var(--Black) 2px 2px 0 0;
  height: 36px;
  width: 100%;

  /* text */
  font-weight: bold;
  font-size: 12px;
  color: var(--Black);
}
