.button {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box */
  box-sizing: border-box;
  background-color: var(--Yellow);
  border-radius: 10rem;
  border: 2.5px solid var(--Black);
  box-shadow: var(--Black) 2px 2px 0 0;
  height: 40px;
  width: 100%;
}
