.chipsContainer {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
}

.chip {
  display: flex;
  padding: 7px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
}

.chip label {
  color: #000;
  background: none;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;

  position: relative;
  top: 0;
  left: 0;
  translate: 0;
}

.chip input[type="checkbox"] {
  display: none;
}

.checked {
  background: #ffcd80;
  border: 0;
}
