.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.root {
  padding: 0 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.loadingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  height: 49px;
  width: 48px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
