/*--- 全ページ共通のスタイル ---*/

/*----------------------------------------------------------------
CSS変数代入について
:rootで変数を定義
変数名の前に"--"は必須
var(--変数名)で使える
----------------------------------------------------------------*/
:root {
  --Font: "Noto Sans JP", sans-serif;
}

/*タイポグラフィ*/
h1 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h5 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h6 {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  margin-block-start: 0;
  margin-block-end: 0;
}
