.root {
  letter-spacing: 0.08em;
  /* layout */
  text-align: center;

  /* text */
  font-weight: bold;
}

.big {
  /* layout */
  margin: 1.5em 0 2em 0;

  /* text */
  font-size: 23px;
}

.small {
  /* layout */
  margin: 1.6em 0;

  /* text */
  font-size: 18px;
}
