.button {
  /* layout */
  padding: 1em;
  margin: 5% 0;
  text-align: center;

  /* box */
  background-color: var(--Red);
  border-radius: 10rem;
  width: 90%;

  /* text */
  font-weight: bold;
  color: white;
}
