.root {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 16px 0;
}

.button {
  justify-content: center;

  width: 90vw;
  height: 56px;
  border-radius: 40px;
  background: #ff9a00;
  border: none;

  color: #000;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.button[disabled] {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}
