/* https://eclair.blog/examples-of-card/ */
.card {
  color: black;

  width: 50em;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  /* box-shadow: 0 4px 15px rgba(0,0,0,.2); */

  /* everything in middle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__imgframe {
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  background-color: var(--Blue);
  box-sizing: border-box;
}
.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + * {
  margin-top: 10px;
}
.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}
.result {
  color: white;
}
