.result {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  width: 93%;

  /* text in the middle */
  display: flex;
  justify-content: center;

  margin: 0.5em;
}

/* https://eclair.blog/examples-of-card/ */
.card {
  color: black;
  width: 90%;
  /* height: 500px; */
  overflow: hidden;
  border-radius: 20px;

  /* everything in middle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 角を丸める */
  box-shadow: var(--Black) 2px 2px 0 0;
  border: var(--Black) 1px solid;

  /* 色 */
  background-color: white;

  /* cardごとに間隔をあける */
  margin: 0 0 5% 0;
}
.card__imgframe {
  /* 画像を指定のサイズでトリミング */
  width: 100%;

  /* 枠線 */
  border-bottom: solid 2px var(--Black);
}
.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + * {
  margin-top: 10px;
}
.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}
