/*--- 質問に答える ---*/

.style2 {
  padding: 1em;
  background-color: white;
  color: white;

  /* everything in middle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.q_black {
  color: var(--Black);
  text-align: center;
  font-weight: bold;
}

/*----------------------------------------------------------------
  選択肢の表示 (材料を提案しない用途にも...)
  一旦styleによって異なるようにしてみた
  結局 choice.css の方と同じ内容になりそうだけど
----------------------------------------------------------------*/
.style2 .suggestIngredient {
  padding: 1em;

  /* 2x2に並べる */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.suggestIngredient .box {
  /* 文字 */
  color: white;
  font-weight: bold;

  /* 縁 */
  border-radius: 0.5em;
  border: solid 2px var(--Black);

  /* boxのサイズ */
  width: 150px;
  height: 150px;

  /* text in center */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 背景色 */
  background-color: var(--Brown);
}

/*----------------------------------------------------------------
  デフォルトのラジオボタンは表示せず、labelタグの要素をボタン代わりにする
  ラジオボタンが選択状態なら背景色を変える
----------------------------------------------------------------*/
.suggestIngredient input[type="radio"] {
  display: none; /* ラジオボタンを非表示にする */
}

/* :has()を使って input[type=radio]:checked の親要素の背景色を変更 */
/* Copilotくん天才？ */
.suggestIngredient .box:has(input[type="radio"]:checked) {
  background-color: var(--Orange);
}

/*----------------------------------------------------------------
  進む・戻るボタン（基本共通）
----------------------------------------------------------------*/
.nextButton {
  padding: 1em;
  background-color: var(--Blue);
  color: white;
}

.backButton {
  /* make a square*/
  padding: 0.8em;
  padding-bottom: 0.5em;
  background-color: var(--Brown);
  border-radius: 100%;
  border: solid 2px var(--Black);
  text-align: center;
}

.backButton-b {
  /* make a square*/
  padding: 0.8em;
  padding-bottom: 0.5em;
  background-color: var(--Blue);
  border-radius: 100%;
  border: solid 2px var(--Black);
  text-align: center;
}

/*----------------------------------------------------------------
  たぶんQuestion2, 3の肉の画像
----------------------------------------------------------------*/
.tmpImage img {
  /* cover the whole width */
  width: 100%;
}
