/*--- 使いたい食材を入力する! ---*/

/* make "style1" class */
.style1 {
  padding: 1em;
  background-color: var(--Orange);
  color: white;

  /* everything in middle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputIngredient {
  padding: 0.6em 1em;
  margin: 5%;
  background-color: white;
  width: 90%;
  border-radius: 50rem; /* make a circle border */
  border: var(--Black) 1px solid;
}

.nextButton {
  padding: 1em;
  background-color: var(--Blue);
  width: 90%;
  margin: 5%;
  text-align: center;
  font-weight: bold;
  border-radius: 10rem; /* make a circle border */
  border: var(--Black) 1px solid;
}

.backButton {
  padding: 1em;
  background-color: var(--Brown);
  border-radius: 50%;
}

.suggestIngredient {
  /* make a 2x2 grid with 4 objects */
  display: grid;
  grid-template-columns: 55% 55%;
  grid-row: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  width: 100%;
}

.suggestIngredient .box {
  background-color: var(--Brown);
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.box_pic {
  background-image: url(../image/tomato.jpg);
  /*Crop image*/
  background-size: cover;
  color: white;
  font-weight: bold;
  border: solid 2px var(--Black);
  border-radius: 0.5em;
  width: 85%;
  height: 180px;
}

.q_white {
  font-size: 1.8rem;
  font-weight: bold;
  width: 93%;
}

.input {
  width: 100%;
  border: none;
}

.title {
  /* two side flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin-bottom: 10%;
}

.title p {
  font-size: 0.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
