.inputIngredient {
  padding: 0.6em 1em;
  margin: 5%;
  background-color: white;
  width: 90%;
  border-radius: 50em; /* make a circle border */
  border: var(--Black) 1px solid;
  box-shadow: var(--Black) 2px 2px 0 0;
  font-size: 0.85em;
  /*はみ出した文字は「…」で省略*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="text"]:focus {
  border: var(--Orange) 1px solid;
  box-shadow: var(--Orange) 2px 2px 0 0;
  outline: 0;
}

.notInput {
  border-radius: 20px;
  border: solid 2px var(--Black);
  box-shadow: none;
  padding: 1.4em 1.5em;
  width: 80%;
}

.inputIngredient_title {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #1c1c1c;
  font-weight: bold;
  font-size: large;
  background: linear-gradient(transparent 65%, var(--Orange) 65%);
}

.inputIngredient_input {
  font-size: 0.85em;
  /* はみ出した文字は「…」で省略 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  width: 100%;
  border: none;
}
