.box {
  /* layout */
  padding: 0.6em 1em;
  margin: 5%;

  /* box */
  background-color: white;
  width: 90%;
  border-radius: 50em; /* make a circle border */
  border: var(--Black) 1px solid;
  box-shadow: var(--Black) 2px 2px 0 0;

  /* text */
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* はみ出した文字は「…」で省略 */
}

.box input[type="text"]:focus {
  /* box */
  border: var(--Orange) 1px solid;
  box-shadow: var(--Orange) 2px 2px 0 0;
  outline: 0;
}
