.box {
  /* box */
  background-color: white;
  border-radius: 20px;
  border: solid 2px var(--Black);
  box-shadow: var(--Black) 2px 2px 0 0;
  height: 150px;
  width: 150px;
  overflow: hidden; /* 丸めた枠からのはみ出しを隠す */
}

.iframe {
  /* box */
  border-bottom: solid 2px var(--Black);
  height: 100px;
  width: 100%;
}

.heading {
  /* layout */
  padding: 0 0.6em 0.8em 0.6em;

  /* text */
  color: var(--Black);
  font-weight: bold;
}
