.tag {
  background: var(--LightBrown);
  border: solid 1px black;
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  padding: 0.5em 1.5em;
  margin-top: 20px;
}
.tag p {
  margin: 0;
}
