/* cssファイル置くのは @/assets/css */

/*--- 全ページ共通のスタイル ---*/

/*----------------------------------------------------------------
CSS変数代入について
:rootで変数を定義
変数名の前に"--"は必須
var(--変数名)で使える
----------------------------------------------------------------*/
:root {
  /*-- Color --*/
  --Blue: #1f5c70;
  --Orange: #fba01d;
  --Yellow: #fcbc49;
  --Brown: #b29476;
  --LightBrown: #f1ece6;
  --Gray: #7e7e7e;
  --Black: #1c1c1c;

  /*-- Font --*/
  --Font: "Noto Sans JP", sans-serif;
}

html {
  font-family: var(--Font);
}

/* リンクの文字が変な色にならない */
a {
  text-decoration: none;
  color: var(--Black);
}

/* css animation */
.style1,
.style2 {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
